@import '../../../assets/lib/colors';

header {
  background: $color-main;
  position: fixed;
  width: 100%;
  left: 0;
  line-height: 30px;
  top: 0;
  z-index: 1;

  nav {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  a {
    cursor: pointer;
    color: white;
    text-decoration: none;

    &.active {
      color: $color-secondary;
    }

    &:hover {
      color: $color-secondary;
    }
  }
}
